includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    level: max
    paths:
        - config
        - src
    excludePaths:
        - bin
        - src/Templates/bootstrap/node_modules (?)
        - src/Templates/main/node_modules (?)
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        # Allow mixed types in template variables
        - '#Parameter \#2 \$variables of method .+::render\(\) expects array<string, mixed>, array.+ given#'
        # Allow dynamic property access in templates
        - '#Access to an undefined property .+::\$.+#'
        # Allow array access on mixed types in templates
        - '#Cannot access offset .+ on mixed#'
        # Ignore TwigCsFixer config issues (external dependency)
        - '#Instantiated class TwigCsFixer\\Config\\Config not found#'
    reportUnmatchedIgnoredErrors: false
